*.user
/*.csproj
UserSettings/
obj/
Builds/
Library/
Logs/
Temp/
.vsconfig
.vs/

Upgrade.log
/*.jpeg
/*.jpg
/json1.json


/Packages/**
!/Packages/manifest.json

/Data
/Assets/Resources/GoogleVisionAPIKey.bytes
/UpgradeLog.hml
